@page
@model BlazorApp.Areas.Identity.Pages.Account.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    @* <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/> *@
    @* <link href="css/site.css" rel="stylesheet"/> *@

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/core@@latest/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/core@@latest/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/core@@latest/dist/css/tabler-payments.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/core@@latest/dist/css/tabler-vendors.min.css">
</head>
<body>
<div>
    <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
      Tooltip on top
    </button>
    
    <a href="#" class="btn btn-ghost-primary">Primary</a>
    <a href="#" class="btn btn-ghost-secondary">Secondary</a>
    <a href="#" class="btn btn-ghost-success">Success</a>
    <a href="#" class="btn btn-ghost-warning">Warning</a>
    <a href="#" class="btn btn-ghost-danger">Danger</a>
    <a href="#" class="btn btn-ghost-info">Info</a>
    <a href="#" class="btn btn-ghost-dark">Dark</a>
    <a href="#" class="btn btn-ghost-light">Light</a>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@@tabler/core@@latest/dist/js/tabler.min.js"></script>
</body>
</html>