@* @inject IJSRuntime JavaScript *@
@inject TablazorJsInterop JsInterop

@using Tablazor.Components
@using Microsoft.JSInterop

@inherits LayoutComponentBase

<div class="page">
  <TablerNavbarHeader />
  <TablerNavbar />
  <TablerPageWrapper Title="Home" Pretitle="Welcome">
    @Body
  </TablerPageWrapper>

</div>

@code
{
  protected override void OnInitialized()
  {
    base.OnInitialized();
    Console.WriteLine("Hello world");
  }
  
  private bool firstRender = true;
  
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (this.firstRender)
    {
      // await JavaScript.InvokeVoidAsync("initializeTooltips");
      // await JsInterop.Prompt("Hello World");
      await JsInterop.Print();
      await JsInterop.InitializeTooltips();
      await JsInterop.InitializeDropdowns();
      
      this.firstRender = false;
      
    }
  }

}
